POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mts_db

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mts_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_PROFILES_ACTIVE=local

